<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms Add Event</h2>

<form action="/event/create">

  <label for="event_name" name="event_name">Event name:</label><br>
  <input type="text" id="event_name" name="event_name"><br>

  <label for="first_name" name="first_name">Speaker Name:</label><br>
  <input type="text" id="last_name" name="speakers_id"><br>

  <label for="first_name" name="first_name">Event Type:</label><br>
  <input type="text" id="phone" name="event_type_id" ><br>

  <label for="first_name" name="first_name">Start Time:</label><br>
  <input type="text" id="address" name="start_time"><br>

  <label for="first_name" name="first_name">End TIme:</label><br>
  <input type="text" id="user_name" name="end_time"><br>

  <label for="first_name" name="first_name">Event Date:</label><br>
  <input type="text" id="email" name="event_date"><br>

  <label for="first_name" name="first_name">Number of Guest:</label><br>
  <input type="text" id="email" name="number_of_guest"><br>

  <label for="first_name" name="first_name">Per Person Price:</label><br>
  <input type="text" id="email" name="per_person_price"><br>

  <input type="submit" value="Submit">

</form> 

</body>
</html>

