<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
</head>
<body>
<h1>Event Deatils </h1>

    <h3>Event Date : {{.EventDate}}</h3>
    <h3>Event Name : {{.EventName}}</h3>
    <h3>EventStart Time : {{.EventStartTime}}</h3>
    <h3>Event End Time : {{.EventEndTime}}</h3>
    <h3>EventTypeName : {{.EventTypeName}}</h3>
    <h3>Number Of Guest : {{.NumberOfGuest}}</h3>
    <h3>Per Person Price : {{.PerPersonPrice}}</h3>
    <h3>Speaker Name : {{.SpeakerFirstName}}  {{.SpeakerLastName}}</h3>
    <h3 id="demo"></h3>
    <h2> Ticket Remaining : {{.TicketRemaining}}</h2>
    <a href="/booking/show?id={{.ID}}">Book event</a>

<script>
    if ({{.Status}} == true) {
        document.getElementById("demo").innerHTML = "Status = Active";
    }else{
     document.getElementById("demo").innerHTML = "Status = InActive";
    }
</script>

</body>
</html>


