<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms Add Event</h2>

<form action="/event/create"  method="post">
  {{.CSRFField}}
    
    <label for="event_name" >Event name:</label><br>

    <input type="text"  name="EventName"><br>
    {{with .FormErrors.EventName}}<p>{{.}}</p>{{end}}
    
    <label for="first_name" name="NumberOfGuest">Number of Guest:</label><br>
    <input type="text"  name="NumberOfGuest" ><br>
    {{with .FormErrors.NumberOfGuest}}<p>{{.}}</p>{{end}}
    
    <label for="ID">Event Type</label><br>
    
    <select name="EventTypeId">
    
        <option value="">-Select-</option>
    
        {{range .EventType}}
    
            <option value="{{.ID}}">{{.EventTypeName}}</option>
    
        {{end}}
    
    </select><br>

    <label for="ID">Speakers</label><br>
    
    <select name="SpeakerId">
    
        <option value="ID">-Select-</option>

        {{range .Speakers}}
           
            <option value="{{.ID}}">{{.FirstName}} - {{.LastName}}</option>

        {{end}}
    
    </select><br>

    <label for="first_name" name="EventDate">EventDate:</label><br>
    <input type="date" name="EventDate"><br>

        <label for="first_name" name="StartTime">StartTime:</label><br>
    <input type="date" name="StartTime"><br>

        <label for="first_name" name="EndTime">EndTime:</label><br>
    <input type="date" name="EndTime"><br>

    <label for="first_name" name="PerPersonPrice">Per Person Price:</label><br>
    <input type="text"  name="PerPersonPrice"><br>
    {{with .FormErrors.PerPersonPrice}}<p>{{.}}</p>{{end}}
    
    <input type="submit" value="Submit">




 {{range .Speakers}}
        
          <p>{{.ID}}  - {{.FirstName}}</p>

    {{end}}

</form> 

</body>
</html>

