<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms Add Speaker</h2>

<form action="/speaker/create" method="Post">
  <label for="first_name" name="first_name">First name:</label><br>
  <input type="text" id="firt_name" name="FirstName"><br>
  
  <label for="first_name" name="first_name">Last Name:</label><br>
  <input type="text" id="last_name" name="LastName"><br>

  <label for="first_name" name="first_name">Phone:</label><br>
  <input type="text" id="phone" name="Phone" ><br>

  <label for="first_name" name="first_name">Username:</label><br>
  <input type="text" id="address" name="Username"><br>

  <label for="first_name" name="first_name">Email:</label><br>
  <input type="text" id="user_name" name="Email"><br>

  <label for="first_name" name="first_name">Address:</label><br>
  <input type="text" id="email" name="Address"><br>


  <input type="submit" value="Submit">
</form> 

</body>
</html>
