<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms Add Speaker</h2>

<form action="/action_page">
  <label for="first_name" name="first_name">First name:</label><br>
  <input type="text" id="firt_name" name="first_name"><br>
  

  <label for="first_name" name="first_name">Last Name:</label><br>
  <input type="text" id="last_name" name="last_name"><br>

  <label for="first_name" name="first_name">Phone:</label><br>
  <input type="text" id="phone" name="phone" ><br>

  <label for="first_name" name="first_name">Address:</label><br>
  <input type="text" id="address" name="address"><br>

  <label for="first_name" name="first_name">User Name:</label><br>
  <input type="text" id="user_name" name="user_name"><br>

  <label for="first_name" name="first_name">Email:</label><br>
  <input type="text" id="email" name="email"><br>


  <input type="submit" value="Submit">
</form> 

</body>
</html>
