<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms Add Speaker</h2>

<form action="/auth/speaker/create" method="Post">
  <label for="first_name" name="first_name">First name:</label><br>
  <input type="text" id="firt_name" name="FirstName"><br>
   {{with .FormErrors.FirstName}}
            <p>{{.}}</p>
           {{end}} 
  <label for="first_name" name="first_name">Last Name:</label><br>
  <input type="text" id="last_name" name="LastName"><br>
 {{with .FormErrors.LastName}}
            <p>{{.}}</p>
           {{end}} 
  <label for="first_name" name="first_name">Phone:</label><br>
  <input type="text" id="phone" name="Phone" ><br>
 {{with .FormErrors.Phone}}
            <p>{{.}}</p>
           {{end}} 
  <label for="first_name" name="first_name">Username:</label><br>
  <input type="text" id="address" name="Username"><br>
 {{with .FormErrors.Username}}
            <p>{{.}}</p>
           {{end}} 
  <label for="first_name" name="first_name">Email:</label><br>
  <input type="text" id="user_name" name="Email"><br>
 {{with .FormErrors.Email}}
            <p>{{.}}</p>
           {{end}} 
  <label for="first_name" name="first_name">Address:</label><br>
  <input type="text" id="email" name="Address"><br>
 {{with .FormErrors.Address}}
            <p>{{.}}</p>
           {{end}} 

  <input type="submit" value="Submit">
</form> 

</body>
</html>
