<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms Add Event</h2>

<form action="/user/create"  method="post">
  {{.CSRFField}}

    <label name="FirstName">First Name:</label><br>
    <input type="text" name="FirstName"><br>
   {{with .FormErrors.FirstName}}
            <p>{{.}}</p>
           {{end}} 

    <label name="LastName">LastName:</label><br>
    <input type="text" name="LastName"><br>
   {{with .FormErrors.LastName}}
            <p>{{.}}</p>
           {{end}} 
    <label name="Username">Username:</label><br>
    <input type="text" name="Username"><br>
   {{with .FormErrors.Username}}
            <p>{{.}}</p>
           {{end}} 
    <label name="Email">Email:</label><br>
    <input type="text"  name="Email" ><br>
   {{with .FormErrors.Email}}
            <p>{{.}}</p>
           {{end}} 
    <label name="Password">Password:</label><br>
    <input type="password"  name="Password"><br>
   {{with .FormErrors.Password}}
            <p>{{.}}</p>
           {{end}} 
    
    <input type="submit" value="Submit">


</form> 

</body>
</html>

